/* * {
  border: 2px solid blue;
} */

body {
  background-color: lightgray;
}

main {
    padding: 0px 20px;
    height: 600px;
    width: 960;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    margin-bottom: 200px;
  }

  h1 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  h3 {
    font-size: 1.17em;
    font-weight: bold;
  }

  article > h3 {
    margin-bottom: 20px;
  }

  article {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #cafeImage {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0 auto;
    border: solid black 2px;
  }

  article > p {
    text-indent: 2em;
    margin-bottom: 15px;
  }

  #John {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0 auto;
    text-align: center;
  }

  #Riva {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0 auto;
    text-align: center;
  }

  #Mike {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0 auto;
    text-align: center;
  }

  #Tif {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0 auto;
    text-align: center;
  }

  .bio {
    width: 200px;
    height: 200px;
    border: solid black 2px;
  }
  
  tr {
    height: 75px;
  }