#Raw a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

td {
  padding: 20px;
}

html nav #upper-nav-links {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

footer {
  background-color: rgb(121, 119, 119);
  height: 200px;
}

#lower-links a{
  color: white;
}

#icons {
  padding: 25px;
  position: relative;
  left: 75px;
  border-radius: 50%;
}

 
#logo img{
  border-radius: 50%;
  position: relative;
  bottom: 150px;
  left: 660px;
}

#lower-links a{
  position: relative;
  bottom: 260px;
  left: 1000px;
  text-decoration: none;
}


html nav {
  overflow: hidden;
}

html nav, a {
  background-color: #797777;
  color: rgb(33, 30, 30);
  width: auto;
  height: 90px;
  overflow: hidden;
}

nav > ul > li {
  line-height: 90px;
}

html nav a {
  background-color: rgb(121, 119, 119);
  color: white;
  width: 100px;
  height: 70px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  /* padding: 20px 30px 10px 30px; */
  text-decoration: none;
  font-size: 1.5rem;
}

#header {
  width: auto;
}