
body {
  background-color: lightgray;
}

main {
  margin: 0 auto;
  width: 90%;
}

/* Banner Img Section @ Top of Page */
#topImgAndTitleSection {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 110px;
  position: relative;
}

#topImgAndTitleSection img {
  width: 100%;
  text-align: center;
  height: 500px;
  opacity: 0.7;
}

#topImgAndTitleSection h1 {
  font-weight: bold;
  font-size: 10rem;
  margin: 0;
  width: 100%;
  color: white;
  position: absolute;
  top: 80px;
  left: 120px;
}

#topImgAndTitleSection p {
  font-size: 2rem;
  font-style: italic;
  margin: 0;
  position: absolute;
  bottom: 240px;
  left: 125px;
  color: white;
}


/* Tea Section  */
#teaSection {
  height: 600px;
}

.teaRow {
  display: flex;
  justify-content: space-evenly;
}

/* Coffee Section */
#coffeeSection {
  height: 600px;
}

.coffeeRow {
  display: flex;
  justify-content: space-evenly;
}


/* .card CONTAINER */
.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Items of .card Container */
.prodNameDiv {
  align-self: center;
  padding: 10px;
}

.numDiv {
  align-self: center;
}

.btnDiv {
  align-self: center;
}


/* Generic styling */
.productImg {
  width: 250px;
  height: 250px;
}

h2 {
  font-weight: bold;
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 45px;
}

button {
  height: 30px;
  width: 160px;
  border: none;
  outline: none;
}

button:hover {
  background-color: slategray;
}

#qty {
  margin-bottom: 12px;;
}